node_modules
*/node_modules
*/*/node_modules
dist
*/dist
*/*/dist
.git
.gitignore
.env
.env.*
!.env.example
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
.vscode
.idea
brain
tmp
